In [1]:
import pandas as pd
import numpy as np

In [2]:
item_df = pd.read_csv('../data/tianchi_fresh_comp_train_item.csv')
user_df = pd.read_csv('../data/tianchi_fresh_comp_train_user.csv')

In [3]:
item_df.head()

     item_id item_geohash  item_category
0  100002303          NaN           3368
1  100003592          NaN           7995
2  100006838          NaN          12630
3  100008089          NaN           7791
4  100012750          NaN           9614

In [4]:
user_df.head()

,user_id,item_id,behavior_type,user_geohash,item_category,time
0,10001082,285259775,1,97lk14c,4076,2014-12-08 18
1,10001082,4368907,1,NaN,5503,2014-12-12 12
2,10001082,4368907,1,NaN,5503,2014-12-12 12
3,10001082,53616768,1,NaN,9762,2014-12-02 15
4,10001082,151466952,1,NaN,5232,2014-12-12 11

In [5]:
user_df.count()

user_id          23291027
item_id          23291027
behavior_type    23291027
user_geohash      7380017
item_category    23291027
time             23291027
dtype: int64

In [6]:
user_df['user_geohash'].isnull().value_counts()

True     15911010
False     7380017
Name: user_geohash, dtype: int64

In [7]:
user_df = user_df.drop('user_geohash', axis=1)
user_df.head()

    user_id    item_id  behavior_type  item_category           time
0  10001082  285259775              1           4076  2014-12-08 18
1  10001082    4368907              1           5503  2014-12-12 12
2  10001082    4368907              1           5503  2014-12-12 12
3  10001082   53616768              1           9762  2014-12-02 15
4  10001082  151466952              1           5232  2014-12-12 11

In [8]:
user_df['time_day'] = user_df['time'].apply(lambda x: x.split(' ')[0])
user_df.head()

,user_id,item_id,behavior_type,item_category,time,time_day
0,10001082,285259775,1,4076,2014-12-08 18,2014-12-08
1,10001082,4368907,1,5503,2014-12-12 12,2014-12-12
2,10001082,4368907,1,5503,2014-12-12 12,2014-12-12
3,10001082,53616768,1,9762,2014-12-02 15,2014-12-02
4,10001082,151466952,1,5232,2014-12-12 11,2014-12-12

In [9]:
user_df = user_df.drop('time', axis=1)

In [10]:
user_df['time_day'].dtype

dtype('O')

In [11]:
# 将time-day转化成datetime类型
import datetime

In [12]:
user_df['time_day'] = user_df.time_day.apply(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d'))
user_df.head()

    user_id    item_id  behavior_type  item_category   time_day
0  10001082  285259775              1           4076 2014-12-08
1  10001082    4368907              1           5503 2014-12-12
2  10001082    4368907              1           5503 2014-12-12
3  10001082   53616768              1           9762 2014-12-02
4  10001082  151466952              1           5232 2014-12-12

In [14]:
user_df['time_day'].dtype

dtype('<M8[ns]')

In [13]:
user_df['behavior_type'] = user_df['behavior_type'].astype('str')

In [15]:
behavior_type = pd.get_dummies(user_df['behavior_type'], prefix='behavior_type')

In [16]:
user_df = pd.concat([user_df[['time_day', 'user_id', 'item_id']], behavior_type], axis=1)
user_df.head()

,time_day,user_id,item_id,behavior_type_1,behavior_type_2,behavior_type_3,behavior_type_4
0,2014-12-08,10001082,285259775,1,0,0,0
1,2014-12-12,10001082,4368907,1,0,0,0
2,2014-12-12,10001082,4368907,1,0,0,0
3,2014-12-02,10001082,53616768,1,0,0,0
4,2014-12-12,10001082,151466952,1,0,0,0

In [17]:
user_df = user_df.groupby(['time_day', 'user_id', 'item_id']).agg('sum').reset_index()
user_df.head()

,time_day,user_id,item_id,behavior_type_1,behavior_type_2,behavior_type_3,behavior_type_4
0,2014-11-18,492,59758671,2,0,0,0
1,2014-11-18,492,76093985,1,0,0,0
2,2014-11-18,492,110036513,2,0,0,0
3,2014-11-18,492,176404510,1,0,0,0
4,2014-11-18,492,178412255,2,0,0,0

In [18]:
train_features = user_df[user_df['time_day']<='2014-12-16']
train_features.tail()

,time_day,user_id,item_id,behavior_type_1,behavior_type_2,behavior_type_3,behavior_type_4
9393177,2014-12-16,142439559,202309732,1,0,0,0
9393178,2014-12-16,142439559,233515893,2,0,0,0
9393179,2014-12-16,142439559,317267203,2,0,0,0
9393180,2014-12-16,142439559,330752876,1,0,0,0
9393181,2014-12-16,142439559,390001730,2,0,0,0

In [19]:
train_label = user_df[user_df['time_day']=='2014-12-17'][['user_id', 'item_id', 'behavior_type_4']]

In [20]:
train_data = pd.merge(train_features, train_label, on=['user_id', 'item_id'], how='right').fillna(0)
train_data.head()

,time_day,user_id,item_id,behavior_type_1,behavior_type_2,behavior_type_3,behavior_type_4_x,behavior_type_4_y
0,2014-11-18,45561,10285473,2.0,0.0,0.0,0.0,0
1,2014-11-28,45561,10285473,3.0,0.0,0.0,0.0,0
2,2014-12-09,45561,10285473,3.0,0.0,0.0,0.0,0
3,2014-12-11,45561,10285473,2.0,0.0,0.0,0.0,0
4,2014-11-18,45561,118925674,2.0,0.0,0.0,0.0,0

In [21]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 357559 entries, 0 to 357558
Data columns (total 8 columns):
time_day             357559 non-null datetime64[ns]
user_id              357559 non-null int64
item_id              357559 non-null int64
behavior_type_1      357559 non-null float64
behavior_type_2      357559 non-null float64
behavior_type_3      357559 non-null float64
behavior_type_4_x    357559 non-null float64
behavior_type_4_y    357559 non-null uint8
dtypes: datetime64[ns](1), float64(4), int64(2), uint8(1)
memory usage: 22.2 MB

In [22]:
train_data['label'] = train_data.behavior_type_4_y.apply(lambda x: 1 if x>0 else 0)
train_data['label'].value_counts()

0    349822
1      7737
Name: label, dtype: int64

In [23]:
train_label.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 316132 entries, 9393182 to 9709313
Data columns (total 3 columns):
user_id            316132 non-null int64
item_id            316132 non-null int64
behavior_type_4    316132 non-null uint8
dtypes: int64(2), uint8(1)
memory usage: 7.5 MB

In [24]:
train_label[train_label['behavior_type_4']>0].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6169 entries, 9393266 to 9709308
Data columns (total 3 columns):
user_id            6169 non-null int64
item_id            6169 non-null int64
behavior_type_4    6169 non-null uint8
dtypes: int64(2), uint8(1)
memory usage: 150.6 KB

In [25]:
train_label[train_label['behavior_type_4']==0].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 309963 entries, 9393182 to 9709313
Data columns (total 3 columns):
user_id            309963 non-null int64
item_id            309963 non-null int64
behavior_type_4    309963 non-null uint8
dtypes: int64(2), uint8(1)
memory usage: 7.4 MB

In [26]:
train_data.head()

,time_day,user_id,item_id,behavior_type_1,behavior_type_2,behavior_type_3,behavior_type_4_x,behavior_type_4_y,label
0,2014-11-18,45561,10285473,2.0,0.0,0.0,0.0,0,0
1,2014-11-28,45561,10285473,3.0,0.0,0.0,0.0,0,0
2,2014-12-09,45561,10285473,3.0,0.0,0.0,0.0,0,0
3,2014-12-11,45561,10285473,2.0,0.0,0.0,0.0,0,0
4,2014-11-18,45561,118925674,2.0,0.0,0.0,0.0,0,0

In [27]:
train_data = train_data.drop('behavior_type_4_y', axis=1)
train_data.head()

,time_day,user_id,item_id,behavior_type_1,behavior_type_2,behavior_type_3,behavior_type_4_x,label
0,2014-11-18,45561,10285473,2.0,0.0,0.0,0.0,0
1,2014-11-28,45561,10285473,3.0,0.0,0.0,0.0,0
2,2014-12-09,45561,10285473,3.0,0.0,0.0,0.0,0
3,2014-12-11,45561,10285473,2.0,0.0,0.0,0.0,0
4,2014-11-18,45561,118925674,2.0,0.0,0.0,0.0,0

In [28]:
test_features = user_df[(user_df.time_day>='2014-11-19')&(user_df.time_day<='2014-12-17')]
test_features.head()

,time_day,user_id,item_id,behavior_type_1,behavior_type_2,behavior_type_3,behavior_type_4
293559,2014-11-19,19137,220377409,2,0,1,0
293560,2014-11-19,19137,369246026,2,0,0,0
293561,2014-11-19,36465,394732311,1,0,0,0
293562,2014-11-19,37101,81135321,2,0,0,0
293563,2014-11-19,37101,104593147,2,0,0,0

In [29]:
test_label = user_df[user_df['time_day']=='2014-12-18'][['user_id', 'item_id', 'behavior_type_4']]
test_label.head()

         user_id    item_id  behavior_type_4
9709314      492   68197904                0
9709315      492  169720786                0
9709316      492  262056903                0
9709317      492  319959973                0
9709318     3726    2742779                0

In [30]:
test_label.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307137 entries, 9709314 to 10016450
Data columns (total 3 columns):
user_id            307137 non-null int64
item_id            307137 non-null int64
behavior_type_4    307137 non-null uint8
dtypes: int64(2), uint8(1)
memory usage: 7.3 MB

In [31]:
test_label[test_label['behavior_type_4']>0].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6124 entries, 9709403 to 10016448
Data columns (total 3 columns):
user_id            6124 non-null int64
item_id            6124 non-null int64
behavior_type_4    6124 non-null uint8
dtypes: int64(2), uint8(1)
memory usage: 149.5 KB

In [32]:
test_label[test_label['behavior_type_4']==0].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 301013 entries, 9709314 to 10016450
Data columns (total 3 columns):
user_id            301013 non-null int64
item_id            301013 non-null int64
behavior_type_4    301013 non-null uint8
dtypes: int64(2), uint8(1)
memory usage: 7.2 MB

In [33]:
test_data = pd.merge(test_features, test_label, on=['user_id', 'item_id'], how='right').fillna(0)
test_data.head()

,time_day,user_id,item_id,behavior_type_1,behavior_type_2,behavior_type_3,behavior_type_4_x,behavior_type_4_y
0,2014-11-19,412008,350277709,4.0,0.0,0.0,0.0,0
1,2014-11-26,412008,350277709,2.0,0.0,0.0,0.0,0
2,2014-12-04,412008,350277709,6.0,0.0,0.0,0.0,0
3,2014-12-05,412008,350277709,4.0,0.0,0.0,0.0,0
4,2014-12-11,412008,350277709,2.0,0.0,0.0,0.0,0

In [34]:
test_data['label'] = test_data.behavior_type_4_y.apply(lambda x: 1 if x>0 else 0)
test_data.head()

,time_day,user_id,item_id,behavior_type_1,behavior_type_2,behavior_type_3,behavior_type_4_x,behavior_type_4_y,label
0,2014-11-19,412008,350277709,4.0,0.0,0.0,0.0,0,0
1,2014-11-26,412008,350277709,2.0,0.0,0.0,0.0,0,0
2,2014-12-04,412008,350277709,6.0,0.0,0.0,0.0,0,0
3,2014-12-05,412008,350277709,4.0,0.0,0.0,0.0,0,0
4,2014-12-11,412008,350277709,2.0,0.0,0.0,0.0,0,0

In [35]:
test_data = test_data.drop('behavior_type_4_y', axis=1)
test_data.head()

,time_day,user_id,item_id,behavior_type_1,behavior_type_2,behavior_type_3,behavior_type_4_x,label
0,2014-11-19,412008,350277709,4.0,0.0,0.0,0.0,0
1,2014-11-26,412008,350277709,2.0,0.0,0.0,0.0,0
2,2014-12-04,412008,350277709,6.0,0.0,0.0,0.0,0
3,2014-12-05,412008,350277709,4.0,0.0,0.0,0.0,0
4,2014-12-11,412008,350277709,2.0,0.0,0.0,0.0,0

In [36]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 345960 entries, 0 to 345959
Data columns (total 8 columns):
time_day             345960 non-null datetime64[ns]
user_id              345960 non-null int64
item_id              345960 non-null int64
behavior_type_1      345960 non-null float64
behavior_type_2      345960 non-null float64
behavior_type_3      345960 non-null float64
behavior_type_4_x    345960 non-null float64
label                345960 non-null int64
dtypes: datetime64[ns](1), float64(4), int64(3)
memory usage: 23.8 MB

In [37]:
test_data['label'].value_counts()

0    338280
1      7680
Name: label, dtype: int64

In [38]:
pred_features = user_df[(user_df.time_day>='2014-11-20')&(user_df.time_day<='2014-12-18')]
pred_features.head()

,time_day,user_id,item_id,behavior_type_1,behavior_type_2,behavior_type_3,behavior_type_4
591225,2014-11-20,37101,20422603,2,0,0,0
591226,2014-11-20,37101,58073746,2,0,0,0
591227,2014-11-20,37101,79406933,4,0,0,0
591228,2014-11-20,37101,92536577,2,0,0,0
591229,2014-11-20,37101,111409691,2,0,0,0

In [39]:
pred_features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9425226 entries, 591225 to 10016450
Data columns (total 7 columns):
time_day           datetime64[ns]
user_id            int64
item_id            int64
behavior_type_1    uint8
behavior_type_2    uint8
behavior_type_3    uint8
behavior_type_4    uint8
dtypes: datetime64[ns](1), int64(2), uint8(4)
memory usage: 323.6 MB

In [40]:
x_train = train_data.iloc[:, 3:7]
y_train = train_data.iloc[:, -1]

In [41]:
x_test = test_data.iloc[:, 3:7]
y_test = test_data.iloc[:, -1]

In [42]:
x_pred = pred_features.iloc[:, 3:]

In [43]:
y_train.value_counts()

0    349822
1      7737
Name: label, dtype: int64

In [44]:
from imblearn.over_sampling import SMOTE
from collections import Counter

In [45]:
over_sample = SMOTE()
x_train_over_sample, y_train_over_sample = over_sample.fit_sample(x_train, y_train)

In [46]:
Counter(y_train_over_sample)

Counter({0: 349822, 1: 349822})

## Logistic Regression

In [49]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [109]:
clf = LogisticRegression(class_weight='balanced')

precision = np.mean(cross_val_score(clf, x_train, y_train, cv=10, scoring='precision'))
recall = np.mean(cross_val_score(clf, x_train, y_train, cv=10, scoring='recall'))
F1 = np.mean(cross_val_score(clf, x_train, y_train, cv=10, scoring='f1'))

print precision
print recall
print F1

0.210473857855
0.382687338501
0.175987874403

In [110]:
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)

In [53]:
from sklearn import metrics

In [112]:
print metrics.precision_score(y_test, y_pred)
print metrics.recall_score(y_test, y_pred)
print metrics.f1_score(y_test, y_pred)

0.0514730125482
0.345572916667
0.0896001080333

In [116]:
predict = clf.predict(x_pred)
pred_features['label'] = predict
submission = pred_features[pred_features['label']==1][['user_id', 'item_id']]
submission.head()

D:\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

        user_id    item_id
591227    37101   79406933
591231    37101  148154020
591232    37101  168955945
591233    37101  220543169
591235    37101  342106807

In [117]:
submission.to_csv('tianchi_mobile_recommendation_predict.csv', index=False)

使用过采样的数据进行建模测试

In [127]:
clf2 = LogisticRegression(class_weight='balanced')

precision2 = np.mean(cross_val_score(clf2, x_train_over_sample, y_train_over_sample, cv=10, scoring='precision'))
recall2 = np.mean(cross_val_score(clf2, x_train_over_sample, y_train_over_sample, cv=10, scoring='recall'))
F12 = np.mean(cross_val_score(clf2, x_train_over_sample, y_train_over_sample, cv=10, scoring='f1'))

print precision2
print recall2
print F12

0.82321510801
0.3618550735
0.476227577894

In [128]:
# 测试
clf2.fit(x_train_over_sample, y_train_over_sample)
y_pred = clf2.predict(x_test)

In [129]:
print metrics.precision_score(y_test, y_pred)
print metrics.recall_score(y_test, y_pred)
print metrics.f1_score(y_test, y_pred)

0.051895931359
0.341796875
0.0901101918918

In [130]:
# 预测
predict = clf2.predict(x_pred)
pred_features['label'] = predict
submission = pred_features[pred_features['label']==1][['user_id', 'item_id']]
submission.head()

D:\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

        user_id    item_id
591227    37101   79406933
591231    37101  148154020
591232    37101  168955945
591233    37101  220543169
591235    37101  342106807

In [131]:
submission.to_csv('LogisticRegression_over_sample.csv', index=False)

## naive_bayes

In [47]:
from sklearn.naive_bayes import GaussianNB

In [50]:
clf = GaussianNB()

precision = np.mean(cross_val_score(clf, x_train, y_train, cv=10, scoring='precision'))
recall = np.mean(cross_val_score(clf, x_train, y_train, cv=10, scoring='recall'))
F1 = np.mean(cross_val_score(clf, x_train, y_train, cv=10, scoring='f1'))

print precision
print recall
print F1

D:\Anaconda2\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
D:\Anaconda2\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

0.212553726652
0.239793281654
0.149792113918

In [51]:
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)

In [54]:
print metrics.precision_score(y_test, y_pred)
print metrics.recall_score(y_test, y_pred)
print metrics.f1_score(y_test, y_pred)

0.0643982808023
0.234114583333
0.101011235955

In [55]:
predict = clf.predict(x_pred)
pred_features['label'] = predict
submission = pred_features[pred_features['label']==1][['user_id', 'item_id']]
submission = submission.drop_duplicates()
submission.head()

D:\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

        user_id    item_id
591239    45561   19915605
591241    45561   60919394
591242    45561   79897846
591243    45561   85523708
591245    45561  105540923

In [139]:
submission.to_csv('bayes.csv', index=False)

使用过采样的数据进行建模测试

In [140]:
clf2 = GaussianNB()

precision2 = np.mean(cross_val_score(clf2, x_train_over_sample, y_train_over_sample, cv=10, scoring='precision'))
recall2 = np.mean(cross_val_score(clf2, x_train_over_sample, y_train_over_sample, cv=10, scoring='recall'))
F12 = np.mean(cross_val_score(clf2, x_train_over_sample, y_train_over_sample, cv=10, scoring='f1'))

print precision2
print recall2
print F12

0.843605748415
0.268939556948
0.398093531968

In [142]:
# 测试
clf2.fit(x_train_over_sample, y_train_over_sample)
y_pred = clf2.predict(x_test)

In [143]:
print metrics.precision_score(y_test, y_pred)
print metrics.recall_score(y_test, y_pred)
print metrics.f1_score(y_test, y_pred)

0.0629010716961
0.251432291667
0.100627947575

In [147]:
# 预测
predict = clf2.predict(x_pred)
pred_features['label'] = predict
submission = pred_features[pred_features['label']==1][['user_id', 'item_id']]
submission.head()

D:\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

        user_id    item_id
591233    37101  220543169
591239    45561   19915605
591241    45561   60919394
591242    45561   79897846
591243    45561   85523708

In [148]:
submission.to_csv('bayes_over_sample.csv', index=False)

## AdaBoost

In [149]:
from sklearn.ensemble import AdaBoostClassifier

In [151]:
base= GaussianNB()
clf = AdaBoostClassifier(n_estimators=100, base_estimator=base)

precision = np.mean(cross_val_score(clf, x_train, y_train, cv=10, scoring='precision'))
recall= np.mean(cross_val_score(clf, x_train, y_train, cv=10, scoring='recall'))
F1 = np.mean(cross_val_score(clf, x_train, y_train, cv=10, scoring='f1'))

print precision
print recall
print F1

0.0144252385696
0.420671834625
0.0196016596134

In [153]:
# 测试
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)

In [154]:
print metrics.precision_score(y_test, y_pred)
print metrics.recall_score(y_test, y_pred)
print metrics.f1_score(y_test, y_pred)

0.0209154089238
0.908333333333
0.040889295281

In [155]:
# 预测
predict = clf.predict(x_pred)
pred_features['label'] = predict
submission = pred_features[pred_features['label']==1][['user_id', 'item_id']]
submission.head()

D:\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

        user_id    item_id
591225    37101   20422603
591226    37101   58073746
591227    37101   79406933
591228    37101   92536577
591229    37101  111409691

In [156]:
submission.to_csv('AdaBoost.csv', index=False)

用下采样的数据

In [157]:
clf2 = AdaBoostClassifier(n_estimators=100, base_estimator=base)

precision2 = np.mean(cross_val_score(clf2, x_train_over_sample, y_train_over_sample, cv=10, scoring='precision'))
recall2 = np.mean(cross_val_score(clf2, x_train_over_sample, y_train_over_sample, cv=10, scoring='recall'))
F12 = np.mean(cross_val_score(clf2, x_train_over_sample, y_train_over_sample, cv=10, scoring='f1'))

print precision2
print recall2
print F12

0.717912468196
0.456334046342
0.381188039923

In [158]:
# 测试
clf2.fit(x_train_over_sample, y_train_over_sample)
y_pred = clf2.predict(x_test)

In [160]:
print metrics.precision_score(y_test, y_pred)
print metrics.recall_score(y_test, y_pred)
print metrics.f1_score(y_test, y_pred)

0.0220493773214
0.985546875
0.0431337350942

In [161]:
# 预测
predict = clf2.predict(x_pred)
pred_features['label'] = predict
submission = pred_features[pred_features['label']==1][['user_id', 'item_id']]
submission.head()

D:\Anaconda2\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

        user_id    item_id
591225    37101   20422603
591226    37101   58073746
591227    37101   79406933
591228    37101   92536577
591229    37101  111409691

In [162]:
submission.to_csv('AdaBoost_over_sample.csv', index=False)

## Bagging

In [182]:
from sklearn.ensemble import BaggingClassifier

In [169]:
clf = BaggingClassifier(base_estimator=LogisticRegression(), n_estimators=100)

precision = np.mean(cross_val_score(clf, x_train, y_train, cv=10, scoring='precision'))
recall = np.mean(cross_val_score(clf, x_train, y_train, cv=10, scoring='recall'))
F1 = np.mean(cross_val_score(clf, x_train, y_train, cv=10, scoring='f1'))

print precision
print recall
print F1

0.215843137255
0.00116279069767
0.00224150609013

In [170]:
# 测试
clf.fit(x_train, y_train)
y_pred = clf.predict(x_test)

In [171]:
print metrics.precision_score(y_test, y_pred)
print metrics.recall_score(y_test, y_pred)
print metrics.f1_score(y_test, y_pred)

0.166666666667
0.000390625
0.000779423226812