In [1]:
import numpy as np
import pandas as pd

In [2]:
train_item = pd.read_csv('../data/tianchi_fresh_comp_train_item.csv')
train_user = pd.read_csv('../data/tianchi_fresh_comp_train_user.csv')

In [3]:
train_item.head()

     item_id item_geohash  item_category
0  100002303          NaN           3368
1  100003592          NaN           7995
2  100006838          NaN          12630
3  100008089          NaN           7791
4  100012750          NaN           9614

In [4]:
train_user.head()

,user_id,item_id,behavior_type,user_geohash,item_category,time
0,10001082,285259775,1,97lk14c,4076,2014-12-08 18
1,10001082,4368907,1,NaN,5503,2014-12-12 12
2,10001082,4368907,1,NaN,5503,2014-12-12 12
3,10001082,53616768,1,NaN,9762,2014-12-02 15
4,10001082,151466952,1,NaN,5232,2014-12-12 11

In [5]:
train_item.count()

item_id          620918
item_geohash     203410
item_category    620918
dtype: int64

In [6]:
train_user.count()

user_id          23291027
item_id          23291027
behavior_type    23291027
user_geohash      7380017
item_category    23291027
time             23291027
dtype: int64

In [7]:
train_item = train_item.drop('item_geohash', axis=1)
train_user = train_user.drop('user_geohash', axis=1)

In [8]:
train_user['day'] = train_user['time'].apply(lambda x: x.split(' ')[0])
train_user['hour'] = train_user['time'].apply(lambda x: x.split(' ')[1])
train_user.head()

,user_id,item_id,behavior_type,item_category,time,day,hour
0,10001082,285259775,1,4076,2014-12-08 18,2014-12-08,18
1,10001082,4368907,1,5503,2014-12-12 12,2014-12-12,12
2,10001082,4368907,1,5503,2014-12-12 12,2014-12-12,12
3,10001082,53616768,1,9762,2014-12-02 15,2014-12-02,15
4,10001082,151466952,1,5232,2014-12-12 11,2014-12-12,11

In [9]:
train_user = train_user.drop('time', axis=1)

In [10]:
train_user_17 = train_user[train_user['day']=='2014-12-17']
train_user_17.head()

       user_id    item_id  behavior_type  item_category         day hour
35    10001082  275221686              1          10576  2014-12-17   05
43    10001082     582649              1          12147  2014-12-17   18
125   10001082  275221686              1          10576  2014-12-17   05
176   10001082  188586750              1          12147  2014-12-17   18
221  100029775   61251128              1           5894  2014-12-17   17

In [11]:
train_user_18 = train_user[train_user['day']=='2014-12-18']
train_user_18.head()

       user_id    item_id  behavior_type  item_category         day hour
217  100029775  247380548              1          10223  2014-12-18   13
232  100029775  247380548              2          10223  2014-12-18   13
250  100029775  205264014              1           1863  2014-12-18   13
274  100029775  205264014              1           1863  2014-12-18   13
317  100029775   87557153              1          10894  2014-12-18   13

In [12]:
train_user_17['hour'] = train_user_17['hour'].astype('int')
train_user_18['hour'] = train_user_18['hour'].astype('int')

D:\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
D:\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
train_user_17['hour_quantum'] = 0
train_user_18['hour_quantum'] = 0

D:\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
D:\Anaconda2\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
train_user_17['hour_quantum'] = train_user_17['hour'].apply(lambda x: 1 if 2<=x<6 else (2 if 6<=x<10 else (3 if 10<=x<14 else (4 if 14<=x<18 else (5 if 18<=x<22 else 6)))))

D:\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
train_user_18['hour_quantum'] = train_user_18['hour'].apply(lambda x: 1 if 2<=x<6 else (2 if 6<=x<10 else (3 if 10<=x<14 else (4 if 14<=x<18 else (5 if 18<=x<22 else 6)))))

D:\Anaconda2\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [16]:
train_user_17 = train_user_17.drop('item_category', axis=1)
train_user_17.head()

       user_id    item_id  behavior_type         day  hour  hour_quantum
35    10001082  275221686              1  2014-12-17     5             1
43    10001082     582649              1  2014-12-17    18             5
125   10001082  275221686              1  2014-12-17     5             1
176   10001082  188586750              1  2014-12-17    18             5
221  100029775   61251128              1  2014-12-17    17             4

In [17]:
train_user_18 = train_user_18.drop('item_category', axis=1)

In [18]:
train_user_17['hour_quantum'] = train_user_17['hour_quantum'].astype('str')

In [19]:
train_user_18['hour_quantum'] = train_user_18['hour_quantum'].astype('str')

In [20]:
train_user_17['hour_quantum'].value_counts()

5    206651
6    153149
4    140932
3    140628
2     72530
1     20630
Name: hour_quantum, dtype: int64

In [21]:
train_user_18['hour_quantum'].value_counts()

5    203054
6    147131
4    136399
3    131753
2     73577
1     19925
Name: hour_quantum, dtype: int64

In [22]:
train_user_17['behavior_type'].value_counts()

1    693105
3     19515
2     14829
4      7071
Name: behavior_type, dtype: int64

In [23]:
train_user_18['behavior_type'].value_counts()

1    672599
3     18487
2     13828
4      6925
Name: behavior_type, dtype: int64

In [24]:
behavior_type_17 = pd.get_dummies(train_user_17['behavior_type'], prefix='behavior_type')
hour_quantum_17 = pd.get_dummies(train_user_17['hour_quantum'], prefix='hour_quantum')

In [25]:
behavior_type_18 = pd.get_dummies(train_user_18['behavior_type'], prefix='behavior_type')
hour_quantum_18 = pd.get_dummies(train_user_18['hour_quantum'], prefix='hour_quantum')

In [26]:
user_dummy_17 = pd.concat([train_user_17[['day', 'user_id', 'item_id']], behavior_type_17, hour_quantum_17], axis=1)
user_dummy_17.head()

,day,user_id,item_id,behavior_type_1,behavior_type_2,behavior_type_3,behavior_type_4,hour_quantum_1,hour_quantum_2,hour_quantum_3,hour_quantum_4,hour_quantum_5,hour_quantum_6
35,2014-12-17,10001082,275221686,1,0,0,0,1,0,0,0,0,0
43,2014-12-17,10001082,582649,1,0,0,0,0,0,0,0,1,0
125,2014-12-17,10001082,275221686,1,0,0,0,1,0,0,0,0,0
176,2014-12-17,10001082,188586750,1,0,0,0,0,0,0,0,1,0
221,2014-12-17,100029775,61251128,1,0,0,0,0,0,0,1,0,0

In [27]:
user_dummy_18 = pd.concat([train_user_18[['day', 'user_id', 'item_id']], behavior_type_18, hour_quantum_18], axis=1)
user_dummy_18.head()

,day,user_id,item_id,behavior_type_1,behavior_type_2,behavior_type_3,behavior_type_4,hour_quantum_1,hour_quantum_2,hour_quantum_3,hour_quantum_4,hour_quantum_5,hour_quantum_6
217,2014-12-18,100029775,247380548,1,0,0,0,0,0,1,0,0,0
232,2014-12-18,100029775,247380548,0,1,0,0,0,0,1,0,0,0
250,2014-12-18,100029775,205264014,1,0,0,0,0,0,1,0,0,0
274,2014-12-18,100029775,205264014,1,0,0,0,0,0,1,0,0,0
317,2014-12-18,100029775,87557153,1,0,0,0,0,0,1,0,0,0

In [28]:
user_dummy_17 = user_dummy_17.groupby(['day', 'user_id', 'item_id']).agg('sum').reset_index()
user_dummy_17.head()

,day,user_id,item_id,behavior_type_1,behavior_type_2,behavior_type_3,behavior_type_4,hour_quantum_1,hour_quantum_2,hour_quantum_3,hour_quantum_4,hour_quantum_5,hour_quantum_6
0,2014-12-17,492,333812946,4,0,0,0,0,0,0,0,4,0
1,2014-12-17,3726,37476258,1,0,0,0,0,0,0,0,1,0
2,2014-12-17,3726,64607517,2,0,0,0,0,0,0,0,2,0
3,2014-12-17,3726,73091924,2,0,0,0,0,0,0,2,0,0
4,2014-12-17,3726,112317995,1,0,0,0,0,0,0,0,1,0

In [29]:
user_dummy_18 = user_dummy_18.groupby(['day', 'user_id', 'item_id']).agg('sum').reset_index()
user_dummy_18.head()

,day,user_id,item_id,behavior_type_1,behavior_type_2,behavior_type_3,behavior_type_4,hour_quantum_1,hour_quantum_2,hour_quantum_3,hour_quantum_4,hour_quantum_5,hour_quantum_6
0,2014-12-18,492,68197904,3,0,0,0,0,3,0,0,0,0
1,2014-12-18,492,169720786,2,0,0,0,0,2,0,0,0,0
2,2014-12-18,492,262056903,3,0,0,0,0,0,0,0,3,0
3,2014-12-18,492,319959973,2,0,0,0,0,0,0,0,2,0
4,2014-12-18,3726,2742779,2,0,0,0,0,0,0,0,2,0

In [30]:
user_dummy_17_y = user_dummy_18.loc[:, ['user_id', 'item_id', 'behavior_type_4']]
user_dummy_17_y.head()

   user_id    item_id  behavior_type_4
0      492   68197904                0
1      492  169720786                0
2      492  262056903                0
3      492  319959973                0
4     3726    2742779                0

In [31]:
train_data = pd.merge(user_dummy_17, user_dummy_17_y, on=['user_id', 'item_id'], how='left').fillna(0)
train_data.head()

,day,user_id,item_id,behavior_type_1,behavior_type_2,behavior_type_3,behavior_type_4_x,hour_quantum_1,hour_quantum_2,hour_quantum_3,hour_quantum_4,hour_quantum_5,hour_quantum_6,behavior_type_4_y
0,2014-12-17,492,333812946,4,0,0,0,0,0,0,0,4,0,0.0
1,2014-12-17,3726,37476258,1,0,0,0,0,0,0,0,1,0,0.0
2,2014-12-17,3726,64607517,2,0,0,0,0,0,0,0,2,0,0.0
3,2014-12-17,3726,73091924,2,0,0,0,0,0,0,2,0,0,0.0
4,2014-12-17,3726,112317995,1,0,0,0,0,0,0,0,1,0,0.0

In [32]:
train_data['label'] = train_data.behavior_type_4_y.apply(lambda x: 1 if x>0 else 0)
train_data = train_data.drop('behavior_type_4_y', axis=1)
train_data.head()

,day,user_id,item_id,behavior_type_1,behavior_type_2,behavior_type_3,behavior_type_4_x,hour_quantum_1,hour_quantum_2,hour_quantum_3,hour_quantum_4,hour_quantum_5,hour_quantum_6,label
0,2014-12-17,492,333812946,4,0,0,0,0,0,0,0,4,0,0
1,2014-12-17,3726,37476258,1,0,0,0,0,0,0,0,1,0,0
2,2014-12-17,3726,64607517,2,0,0,0,0,0,0,0,2,0,0
3,2014-12-17,3726,73091924,2,0,0,0,0,0,0,2,0,0,0
4,2014-12-17,3726,112317995,1,0,0,0,0,0,0,0,1,0,0

In [33]:
train_data['label'].value_counts()

0    315117
1      1015
Name: label, dtype: int64

In [34]:
x_train = train_data.iloc[:, 3:13]
y_train = train_data.iloc[:, -1]

In [35]:
x_test = user_dummy_18.iloc[:, 3:]

In [36]:
y_train.value_counts()

0    315117
1      1015
Name: label, dtype: int64

In [37]:
# 采用SMOTE算法过采样
from imblearn.over_sampling import SMOTE
from collections import Counter

In [38]:
sm = SMOTE()
x_train_over_sample, y_train_over_sample = sm.fit_sample(x_train, y_train)

In [39]:
Counter(y_train_over_sample)

Counter({0: 315117, 1: 315117})

## Logistic Regression

In [40]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

In [41]:
logistic = LogisticRegression(class_weight='balanced')
precision = np.mean(cross_val_score(logistic, x_train, y_train, cv=10, scoring='precision'))
recall = np.mean(cross_val_score(logistic, x_train, y_train, cv=10, scoring='recall'))
F1 = np.mean(cross_val_score(logistic, x_train, y_train,cv=10, scoring='f1'))

print precision
print recall
print F1

0.0166784078925
0.684740827024
0.0325621150339

In [38]:
logistic.fit(x_train, y_train)
y_predict = logistic.predict(x_test)

In [39]:
user_dummy_18['label'] = y_predict
submission = user_dummy_18[user_dummy_18['label']==1]
submission.head()

,day,user_id,item_id,behavior_type_1,behavior_type_2,behavior_type_3,behavior_type_4,hour_quantum_1,hour_quantum_2,hour_quantum_3,hour_quantum_4,hour_quantum_5,hour_quantum_6,label
8,2014-12-18,3726,236212143,7,0,0,0,0,0,0,0,7,0,1
9,2014-12-18,3726,238805428,8,0,1,0,0,0,0,0,9,0,1
19,2014-12-18,38745,47639159,2,1,0,0,0,0,0,0,3,0,1
38,2014-12-18,45561,18086124,4,0,0,0,0,0,0,0,4,0,1
58,2014-12-18,45561,195041142,4,0,1,0,0,0,0,0,5,0,1

In [40]:
submission = submission[['user_id', 'item_id']]
submission.head()

    user_id    item_id
8      3726  236212143
9      3726  238805428
19    38745   47639159
38    45561   18086124
58    45561  195041142

In [56]:
submission.to_csv('tianchi_mobile_recommendation_predict.csv', index=False)

## naive_bayes

In [41]:
from sklearn.naive_bayes import GaussianNB

In [42]:
clf = GaussianNB()
precision = np.mean(cross_val_score(clf, x_train, y_train, cv=5, scoring='precision'))
recall = np.mean(cross_val_score(clf, x_train, y_train, cv=5, scoring='recall'))
F1 = np.mean(cross_val_score(clf, x_train, y_train, cv=5, scoring='f1'))

print precision
print recall
print F1

0.0213004175134
0.381280788177
0.0403460595317

In [43]:
clf.fit(x_train, y_train)
y_predict = clf.predict(x_test)

In [44]:
user_dummy_18['label'] = y_predict
submission = user_dummy_18[user_dummy_18['label']==1]
submission.head()

,day,user_id,item_id,behavior_type_1,behavior_type_2,behavior_type_3,behavior_type_4,hour_quantum_1,hour_quantum_2,hour_quantum_3,hour_quantum_4,hour_quantum_5,hour_quantum_6,label
8,2014-12-18,3726,236212143,7,0,0,0,0,0,0,0,7,0,1
9,2014-12-18,3726,238805428,8,0,1,0,0,0,0,0,9,0,1
58,2014-12-18,45561,195041142,4,0,1,0,0,0,0,0,5,0,1
67,2014-12-18,45561,274742195,4,1,0,0,0,0,0,0,5,0,1
77,2014-12-18,45561,336543772,6,0,1,0,0,0,0,0,7,0,1

In [45]:
submission = submission[['user_id', 'item_id']]
submission.head()

    user_id    item_id
8      3726  236212143
9      3726  238805428
58    45561  195041142
67    45561  274742195
77    45561  336543772

In [63]:
submission.to_csv('tianchi_mobile_recommendation_predict.csv', index=False)

## Random Forest

In [46]:
from sklearn.ensemble import RandomForestClassifier

In [47]:
clf = RandomForestClassifier(n_estimators=200)
precision = np.mean(cross_val_score(clf, x_train, y_train, cv=10, scoring='precision'))
recall = np.mean(cross_val_score(clf, x_train, y_train, cv=10, scoring='recall'))
F1 = np.mean(cross_val_score(clf, x_train, y_train, cv=10, scoring='f1'))

print precision
print recall
print F1

0.217738095238
0.00787225781402
0.0149058880473

## GBM

In [48]:
from sklearn.ensemble import GradientBoostingClassifier

In [49]:
# 迭代次数调参
params = [x for x in range(100, 301, 50)]
precision_scores = []
recall_scores = []
F1_scores = []

for param in params:
    clf = GradientBoostingClassifier(n_estimators=param)
    precision = np.mean(cross_val_score(clf, x_train, y_train, cv=5, scoring='precision'))
    recall = np.mean(cross_val_score(clf, x_train, y_train, cv=5, scoring='recall'))
    F1 = np.mean(cross_val_score(clf, x_train, y_train, cv=5, scoring='f1'))
    
    precision_scores.append(precision)
    recall_scores.append(recall)
    F1_scores.append(F1)
    
print precision_scores
print recall_scores
print F1_scores

D:\Anaconda2\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
D:\Anaconda2\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

[0.29999999999999999, 0.33999999999999997, 0.33999999999999997, 0.23999999999999999, 0.27333333333333332]
[0.0019704433497536944, 0.0029556650246305416, 0.0029556650246305416, 0.0039408866995073889, 0.0049261083743842365]
[0.0039025318865410245, 0.0058350807489975353, 0.0058350807489975353, 0.0077675341346714905, 0.0096529939146188532]

In [ ]:
params = [x for x in range(3, 14, 2)]
precision_scores2 = []
recall_scores2 = []
F1_scores3 = []

for param in params:
    clf = GradientBoostingClassifier(n_estimators=300, max_depth=param)
    precision = np.mean(cross_val_score(clf, x_train, y_train, cv=5, scoring='precision'))
    recall = np.mean(cross_val_score(clf, x_train, y_train, cv=5, scoring='recall'))
    F1 = np.mean(cross_val_score(clf, x_train, y_train, cv=5, scoring='f1'))
    
    precision_scores2.append(precision)
    recall_scores2.append(recall)
    F1_scores.append(F1)
    
print precision_scores2
print recall_scores2
print F1_scores2